<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <style>
        .nav{
            overflow: hidden;
        }

        .nav li{
            float: left;
            list-style: none;
            margin: 0 20px;
        }
    </style>
</head>
<body>
    <ul class="nav">
        <li><a href="/">首页</a></li>
        <li><a href="{% url 'book' %}">读书</a></li>
        <li><a href="{% url 'movie' %}">电影</a></li>
        <li><a href="{% url 'city' %}">同城</a></li>
        <li><a href="{% url 'login' %}?next=/">登录</a></li>
        <li><a href="{% url 'detail' book_id=1 category=6 %}">最火的一篇文章</a></li>
    </ul>
    {% autoescape off %}
    {{ aa }}
        {{ ss }}
    {% endautoescape %}

</body>
</html>