<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
<form action="" method="post">
    {% csrf_token %}
    <table>
        <tbody>
            <tr>
                <td>用户名:</td>
                <td><input type="text" name="username"></td>
            </tr>
            <tr>
                <td>密码:</td>
                <td><input type="password" name="password"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="立即提交"></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    {% for message in messages %}
                            {{ message }}
                    {% endfor %}

                </td>
            </tr>
        </tbody>
    </table>
</form>
</body>
</html>