{% extends 'base.html' %}
{% block title %}
用户注册
{% endblock %}

{% block body %}
<form action="" method="post">
  {% csrf_token %}
  <div class="form-group">
    <label for="exampleInputEmail1">用户名</label>
    <input type="text" class="form-control" id="exampleInputEmail1" name="username" placeholder="请输入用户名">
  </div>
    <div class="form-group">
    <label for="exampleInputEmail1">手机号</label>
    <input type="text" class="form-control" id="exampleInputEmail1" name="telephone" placeholder="请输入手机号">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">密码</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password">
  </div>
    <div class="form-group">
    <label for="exampleInputPassword1">确认密码</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="password_repeat" placeholder="Password">
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Check me out
    </label>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
{% endblock %}